

<div class="grid_12 ">
	<h1><%= t('user.update_password')%></h1>
	<% form_for(@user, :html => { :multipart => true, :method => :put }) do |f| %>
 
		<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this page from being saved:</h2>
		
		    	<ul>
		    		<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
		  	</div>
		<% end %>
		
		<%= t('user.password_new') %><br />
		<%= f.password_field :password %><br/>
			
		<%= t('user.password_confimation') %><br />
		<%= f.password_field :password_confirmation %><br/>
		
		
	 
		<div class="grid_3 suffix_9 text_right top_margin_10"> 
	
	
			<div class="actions">
				<%= f.submit('save') %>
			</div>
		</div>
	<% end %>
</div>
