<div class="grid_12">

	<p id="notice"><%= notice %></p>
</div>
<div class="grid_12">	
	<h1>
	  <%= @tutorial.title %>
	</h1>
	<b><%= @tutorial.tutorial_type %></b><br>
	<% if can? :manage, Tutorial %>
		<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> | 
		<%= link_to t('tutorial.new_section'), new_tutorial_tutorial_posts_path(@tutorial) %>
	<%end%>
	 
	

	
	
</div>	

<div class="grid_5 suffix_7">
	<p>
	  <%= @tutorial.body %>
	</p>
</div>	
	
<div class="grid_12">
	<hr/>	
	
	
	
</div>

<hr>

<div class="grid_12">

	<% @tutorial.tutorial_posts.each do |tutorial_post| %>
	
		<%= tutorial_post.title %><br>
		<%= tutorial_post.body %><br>
		<% if can? :manage, Tutorial %>
			<%= link_to 'Edit', edit_tutorial_post_path(tutorial_post) %>
			<%= link_to 'Destroy', tutorial_post, :confirm => 'Are you sure?', :method => :delete %>
		<%end%>
		<hr/>
	
	<% end %>

</div>

<div class="grid_12">
	<%= link_to 'Back', tutorials_path %><br>
</div>